<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>

    <style>
        body {
            background-color: #eaf4ff;
            font-family: Arial;
            text-align: center;
            padding-top: 100px;
        }

        .box {
            background: white;
            padding: 40px;
            margin: auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px gray;
        }
    </style>

</head>
<body>

<div class="box">
    <h2>Bienvenido 👍</h2>
    <p>Acceso permitido</p>
</div>

</body>
</html>